@import "tailwindcss";

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}


/* Shadow */
.shaddow-effect {
    box-shadow: 0 6px 15px #00d8ff;
}


/* Hover Transition */
.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: translateY(-8px);
    box-shadow: 4px 6px 20px 15px #00d8ff;
}

.h {
    height: calc(2/3 * 17%);
}